<mat-toolbar class="navbar">

  <a routerLink="/series" class="brand">
    <span class="brand-icon">📺</span>
    <span class="brand-name">SeriesTracker</span>
  </a>

  <span class="spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="userMenu">
    <mat-icon>account_circle</mat-icon>
  </button>

  <mat-menu #userMenu="matMenu" class="user-menu">
    <div class="user-info" mat-menu-item disabled>
      <mat-icon>person</mat-icon>
      <span>{{ userName }}</span>
    </div>
    <mat-divider />
    <button mat-menu-item (click)="onLogout()">
      <mat-icon>logout</mat-icon>
      <span>Cerrar sesión</span>
    </button>
  </mat-menu>

</mat-toolbar>